@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

*{
  font-family: 'Shadows Into Light Two', cursive;
}

body{
  background-color: #ccc;
}

h1,
h2,
h3{
  margin-top: 10px;
}

h2{
  text-align: center;
}

button{
  border:1px solid #000;
  background-color: transparent;
  color: #000;
}

a,
a:hover{
  color: #000;
}

#header{
  display: flex;
  align-items: center;
  height: 10vh;
}
#header h1,
.menu h2{
  text-align: center;
}
#header .menu-btn{
  float: right;
}

#map_canvas{
  height: 90vh;
  width: 100%;
}

.info-window br{
  display: block;
}

#id,
#lat,
#lng,
#locations-table,
#locations-table th:last-of-type{
  display: none;
}

#locations-table,
.info-window{
  text-transform: capitalize;
}

#locations-table th,
#locations-table td{
  text-align: center;
}

#locations-table th{
  border-top: none;
}
#locations-table br{
  display: none;
}
#locations-table{
  max-width: 960px;
  margin: 0 auto;
}
#locations-table td{
  border-top: 1px solid #000;
}

.menu{
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
}
.menu.open{
  display: block;
}
.menu ul{
  list-style-type: none;
  text-align: left;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.menu a{
  text-decoration: none;
  color: #ccc;
}
.menu .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
.menu h2 span{
  text-transform: capitalize;
}
.menu h2{
  color: #ccc;
}
.menu button{
  display: block;
  margin: 10px auto;
  width: 50%;
}
.menu button{
  border:1px solid #ccc;
  background-color: transparent;
  color: #ccc;
}
.menu button:focus{
  outline: none;
}
.menu .button-clicked{
  background-color: #ccc;
  color: #000;
}

.view-btns{
  display: none;
}
.view-btns input[type='radio']{
  display: none;
}
.view-btns label{
  cursor: pointer;
}

.form-control{
  border: 1px solid #000;
}
.form-control:focus{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 0 8px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 0 8px rgba(0,0,0,.5);
  border-color: #000;
}

form label{
  width: 100%;
}
form label,
input{
  text-align: center;
}
form select{
  text-align-last:center;
}

#added,
.error{
  padding-top: 15px;
}

@media only screen and (min-width : 768px){
  #locations-table{
    width: 75%;
  }
  form{
    max-width: 50%;
    margin: 0 auto;
  }
  #added,
  .error{
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (min-width : 992px){
  #locations-table{
    width: 50%;
  }
  .fname,
  .lname{
    width: 50%;
  }
  .lname{
    float: right;
  }
}