#map_canvas{
  height: 90vh;
  width: 100%;
}

#header{
  display: flex;
  align-items: center;
  height: 10vh;
}
#header h1, h2{ text-align: center; }
#header .menu-btn{ float: right; }

h1, h2, h3 { margin-top: 10px; }

.menu{
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
}
.menu.open{ display: block; }
.menu ul{
  list-style-type: none;
  text-align: left;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.menu a{
  text-decoration: none;
  color: #ccc;
}
.menu .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
.menu h2 span{ text-transform: capitalize; }
.menu h2{ color: #ccc; }

.menu button{
  display: block;
  margin: 10px auto;
  width: 50%;
}
.view-btns{ display: none; }

#id, #lat, #lng, #locations-table, #locations-table th:last-of-type{ display: none; }

form label{ width: 100%; }
form label, input{ text-align: center; }
form select { text-align-last:center; }

#locations-table, .info-window{ text-transform: capitalize; }

.view-btns input[type='radio']{ display: none; }
.view-btns label{ cursor: pointer; }
.menu button{
  border:1px solid #ccc;
  background-color: transparent;
  color: #ccc;
}
.menu button:focus{ outline: none; }
.menu .button-clicked{
  background-color: #ccc;
  color: #000;
}

#locations-table th, #locations-table td{ text-align: center; }
#locations-table th{ border-top: none; }
#locations-table br{ display: none; }
#locations-table{
  max-width: 960px;
  margin: 0 auto;
}

.info-window br{ display: block; }

@media only screen and (min-width : 768px){
  #locations-table{
    width: 75%;
  }
}

@media only screen and (min-width : 992px){
  #locations-table{
    width: 50%;
  }
}